.friendsRecomendations{
	height: 450px;
	overflow-y: auto;
}
.btn{
	display: block;
	margin: 10px auto;
	padding: 6px 20px;
}
.sortingButtons .btn{
	display: inline-block;
}
.poster{
	display: block;
	margin: auto;
	max-width: 100%;
}
.help-block{
	display: none;
}
.rec-wrapper{
	display: none;
}
.asc,
.dateAsc{
	background: url(../arrows1.png) no-repeat center right;
}
.desc,
.dateDesc{
	background: url(../arrows.png) no-repeat center right;
}
