.friendsRecomendations{
	height: 450px;
	overflow-y: auto;
}
.btn{
	display: block;
	margin: 10px auto;
}
.sortingButtons .btn{
	display: inline-block;
}
.poster{
	display: block;
	margin: auto;
	max-width: 100%;
}
.help-block{
	display: none;
}
.rec-wrapper{
	display: none;
}